{% extends "base.html" %} {% block title %} หน้าเเรก {% endblock title %}
 {% block content %}
 <div class="row">
   <h2>รายชื่อโรงพยาบาล</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">ชื่อโรงพยาบาล</th>
                </tr>
              </thead>
              <tbody>
                {% for hospital in hospitals %}
                <tr>
                  <td>#</td>
                  <td>{{hospital.name}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
 
 </div class="row">
 {% endblock content %}
